{% extends 'base.html' %}

{% block body_block %}
{% load static %}
<div class="jumbotron">
    <h1>Insurance Charge Prediction </h1>
    <div class="fieldWrapper">
      <h2>For the values</h2>
      <p>age:{{data_age}}</p>
      <p>bmi:{{data_bmi}}</p>
      <p>children:{{data_chi}}</p>
      <p>sex_male:{{data_sex}}</p>
      <p>smoker_yes:{{data_smo}}</p>
      <br>
      <p>The Charges Predicted is :{{out}}</p>
    <a  href="{% url 'ckdApp:ckd' %}">Insurance Charges Predicition</a>
    <br>
</div>
{% endblock %}
